server {
    listen ${NGINX_PORT};
    server_name ${NGINX_SERVER_NAME};

    location / {
        proxy_pass http://web:3000;
        include proxy.conf;
    }

    location /api/ {
        proxy_pass http://api:8000/api/;
        include proxy.conf;
    }

    # placeholder for acme challenge location
    ${ACME_CHALLENGE_LOCATION}

    # placeholder for https config defined in https.conf.template
    ${HTTPS_CONFIG}
} 